<!-- products/templates/products/success.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупка успешна</title>
    <link rel="stylesheet" href="{% static 'products/css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Спасибо за вашу покупку!</h1>
    </header>

    <section class="success-section">
        <p>Ваш заказ был успешно оформлен. Мы отправили детали заказа на ваш email.</p>
        <a href="{% url 'index' %}" class="btn">Вернуться на главную</a>
    </section>

</body>
</html>